.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-list .menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 32px;
}

.sidenav-list .menu-button .mat-icon {
  margin-top: -0.15em;
  margin-right: 8px;
}

.sidenav-list .mat-divider {
  margin: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding-left: 8px;
}
