.bible-radio-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.bible-radio-button {
  margin: 5px;
}

:host ::ng-deep .mat-vertical-content {
  padding-bottom: 0;
}

:host ::ng-deep .mat-form-field-infix {
  width: 200px;
}

:host ::ng-deep .mat-radio-label {
  white-space: initial;
}

:host ::ng-deep .mat-divider {
  margin-bottom: 1em;
}

.label-on-form-field {
  display: flex;
  padding-bottom: 1em;
}

.label-on-thumbnails {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.label-on-thumbnails.second-year {
  margin-top: 1em;
}

.calendar-thumbnail {
  cursor: pointer;
  width: 30%;
  max-width: 240px;
  margin: 3px;
}
