<mat-stepper
         orientation="vertical" linear
         (animationDone)="onStepChange(stepper)"
         #stepper>
  <mat-step [stepControl]="coverageForm">
    <form [formGroup]="coverageForm">
      <ng-template matStepLabel i18n>What do you want to read?</ng-template>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="bible-radio-group"
        formControlName="coverageType">
        <mat-radio-button i18n class="bible-radio-button" value="new-testament">
          New Testament
        </mat-radio-button>
        <mat-radio-button i18n class="bible-radio-button" value="new-testament-and-psalms">
          New Testament + Psalms
        </mat-radio-button>
        <mat-radio-button i18n class="bible-radio-button" value="old-testament">
          Old Testament
        </mat-radio-button>
        <mat-radio-button i18n class="bible-radio-button" value="whole-bible">
          Whole Bible
        </mat-radio-button>
      </mat-radio-group>
      <div class=stepper-nav>
        <button mat-raised-button color="primary" matStepperNext><span i18n>Next</span> ▼</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="startDateForm">
    <form [formGroup]="startDateForm">
      <ng-template matStepLabel i18n>When would you like to start?</ng-template>

      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="bible-radio-group"
        [ngClass] = "{'no-space-bottom': startDateType() === 'custom'}"
        formControlName="startDateType">
        <mat-radio-button i18n class="bible-radio-button" value="today">
          Today
        </mat-radio-button>
        <mat-radio-button i18n class="bible-radio-button" value="tomorrow">
          Tomorrow
        </mat-radio-button>
        <mat-radio-button i18n class="bible-radio-button" value="next-month">
          Next month
        </mat-radio-button>
        <mat-radio-button i18n class="bible-radio-button" value="next-year">
          Next year
        </mat-radio-button>
        <mat-radio-button class="bible-radio-button" value="custom">
          <span i18n class="custom-date">Pick any date:</span>&nbsp;<em class="custom-date">{{ getCustomStartDate() }}</em>
        </mat-radio-button>
      </mat-radio-group>

      <mat-calendar
        *ngIf="startDateType() === 'custom'"
        class="inline-calendar-card"
        [selected]=customStartDate
        [minDate]=minStartDate
        [maxDate]=maxStartDate
        (selectedChange)="customStartDate = $event">
      </mat-calendar>

      <div class=stepper-nav>
        <button mat-raised-button color="primary" matStepperNext><span i18n>Next</span> ▼</button>
        <button mat-stroked-button matStepperPrevious><span i18n>Back</span> ▲</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="durationForm"
                *ngIf="['old-testament', 'whole-bible'].includes(
                            coverageType())">
    <form [formGroup]="durationForm">
      <ng-template matStepLabel i18n>For how long?</ng-template>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="bible-radio-group"
        formControlName="durationType">
        <mat-radio-button i18n class="bible-radio-button" value="one-year">
          One Year
        </mat-radio-button>
        <mat-radio-button i18n class="bible-radio-button" value="two-years">
          Two Years
        </mat-radio-button>
      </mat-radio-group>
      <div class=stepper-nav>
        <button mat-raised-button color="primary" matStepperNext><span i18n>Next</span> ▼</button>
        <button mat-stroked-button matStepperPrevious><span i18n>Back</span> ▲</button>
      </div>
    </form>
  </mat-step>

  <mat-step
    *ngIf="coverageType() === 'new-testament'"
    [stepControl]="optionsForNewTestamentOnly">
    <form [formGroup]="optionsForNewTestamentOnly">
      <ng-template i18n matStepLabel>Smart Options</ng-template>

      <label i18n class="label-on-form-field">
        Please choose 2 days of the week to rest or catch up
      </label>

      <div>
        <mat-form-field appearance="outline">
          <mat-label i18n>1st day</mat-label>
          <mat-select name="wday-to-rest-1" formControlName="restDay1">
            <mat-option
              *ngFor="let weekDay of catchUpDays"
              [value]="weekDay.value"
              [disabled]="weekDay.value === optionsForNewTestamentOnly.get('restDay2')!.value">
              {{weekDay.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label i18n>2nd day</mat-label>
        <mat-select name="wday-to-rest-2" formControlName="restDay2">
          <mat-option
            *ngFor="let weekDay of catchUpDays"
            [value]="weekDay.value"
            [disabled]="weekDay.value === optionsForNewTestamentOnly.get('restDay1')!.value">
            {{weekDay.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class=stepper-nav>
        <button mat-raised-button color="primary" matStepperNext><span i18n>Next</span> ▼</button>
        <button mat-stroked-button matStepperPrevious><span i18n>Back</span> ▲</button>
      </div>
    </form>
  </mat-step>

  <mat-step
    *ngIf="['new-testament-and-psalms', 'old-testament'].includes(
                coverageType())"
    [stepControl]="optionsForOthers">
    <form [formGroup]="optionsForOthers">
      <ng-template i18n matStepLabel>Smart Options</ng-template>
      <label i18n class="label-on-form-field">
        You may choose a day of the week to rest or catch up
      </label>

      <mat-form-field appearance="outline">
        <mat-label i18n>Day to rest or catch up</mat-label>
        <mat-select name="wday-to-rest" formControlName="restDay">
          <mat-option *ngFor="let weekDay of weekDays" [value]="weekDay.value">
            {{weekDay.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class=stepper-nav>
        <button mat-raised-button color="primary" matStepperNext><span i18n>Next</span> ▼</button>
        <button mat-stroked-button matStepperPrevious><span i18n>Back</span> ▲</button>
      </div>
    </form>
  </mat-step>

  <mat-step
    *ngIf="coverageType() === 'whole-bible'"
    [stepControl]="optionsForWholeBible">
    <form [formGroup]="optionsForWholeBible">
      <ng-template i18n matStepLabel>Smart Options</ng-template>
      <div>
        <label i18n id="reading-order-radio-group-label" class="label-on-form-field">
          In which order would you like to read?
        </label>
        <mat-radio-group
          aria-labelledby="reading-order-radio-group-label"
          class="bible-radio-group"
          formControlName="orderType">
          <mat-radio-button i18n class="bible-radio-button" value="old-testament-first">
            Old Testament First
          </mat-radio-button>
          <mat-radio-button i18n class="bible-radio-button" value="new-testament-first">
            New Testament First
          </mat-radio-button>
          <mat-radio-button i18n class="bible-radio-button" value="in-parallel">
            Read both Old & New Testament each day
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-divider></mat-divider>

      <label i18n class="label-on-form-field">
        You may choose a day of the week to rest or catch up
      </label>

      <mat-form-field appearance="outline">
        <mat-label i18n>Day to rest or catch up</mat-label>
        <mat-select name="wday-to-rest" formControlName="restDay">
          <mat-option *ngFor="let weekDay of weekDays" [value]="weekDay.value">
            {{weekDay.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class=stepper-nav>
        <button mat-raised-button color="primary" matStepperNext><span i18n>Next</span> ▼</button>
        <button mat-stroked-button matStepperPrevious><span i18n>Back</span> ▲</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template i18n matStepLabel>Preview</ng-template>

    <label i18n class="label-on-form-field">
      You may click on following images to take a closer look. Feel free to go
      back to previous steps to change your answers.
    </label>

    <lightgallery [settings]="settings" [onInit]="onInit">
    <!-- I had to use dynamic mode because the gallery was still showing old
      list of images with new ones even if refresh() has been called on
      ngAfterViewChecked -->
    </lightgallery>

    <div *ngFor="let pair of galleryItemsByYear | keyvalue">
      <div class='label-on-thumbnails'>
        {{ pair.key }}
      </div>
      <a
        *ngFor="let item of pair.value"
        (click)="lightGallery.openGallery(item.index)"
        >
        <img [src]="item.src" class="calendar-thumbnail">
      </a>
    </div>

    <p> </p>

    <div class=stepper-nav>
      <button mat-raised-button color="primary" matStepperNext><span i18n>Next</span> ▼</button>
      <button mat-stroked-button matStepperPrevious><span i18n>Back</span> ▲</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template i18n matStepLabel>The Final Step</ng-template>

    <label i18n class="label-on-form-field">
      In order to print the calendar, download a PDF file.
    </label>

    <a mat-raised-button color="primary" [href]="pdfUrl"
      i18n-download download="bible-reading-calendar.pdf" target="_blank">
      <mat-icon aria-hidden="false" aria-label="print icon">print</mat-icon>
      <span i18n>Download PDF</span>
    </a>

    <p> </p>

    <mat-divider></mat-divider>

    <label i18n class="label-on-form-field">
      iCalendar URL can be added to various applications like Google Calendar, Microsoft Outlook, iCloud Calendar and more.
    </label>

    <button mat-raised-button color="primary"
      (click)=copyCalendarLink()>
      <mat-icon aria-hidden="false" aria-label="calendar icon">date_range</mat-icon>
      <span i18n>Copy iCalendar URL</span>
    </button>

    <p> </p>
    <mat-divider></mat-divider>

    <p i18n>OK, all done!</p>
    <p> </p>

    <div class=stepper-nav>
      <button mat-stroked-button matStepperPrevious><span i18n>Back</span> ▲</button>
    </div>
  </mat-step>

</mat-stepper>
